@font-face {
    font-family: 'gotham-medium';
    src: url('../fonts/gotham-medium-webfont.woff2') format('woff2'),
         url('../fonts/gotham-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham-book';
    src: url('../fonts/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham-bold';
    src: url('../fonts/gotham-bold-webfont.woff2') format('woff2'),
         url('../fonts/gotham-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'gotham-book';
	color: #5b5b5b;
	font-size: 14px;
}

#wrapper {
	display: block;
	background: #f9f9f9;
	width: 100%; 
	max-width: 1280px;
	margin: 0px auto;
}

.header {
	display: block;
	height: 240px;
	overflow: hidden;
}

.header ul {
	padding: 0px; 
	display: block;
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 100%;
}

.header ul li {
	position: absolute;
	width: 100%; 
	height: 100%;

	background-size: cover;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}

.header ul li.slide-1 {
	background-image: url(../img/header_slide_01.jpg);
	animation: fade31 21s infinite;
}

.header ul li.slide-2 {
	background-image: url(../img/header_slide_02.jpg);
	animation: fade32 21s infinite;
}

.header ul li.slide-3 {
	background-image: url(../img/header_slide_03.jpg);
	animation: fade33 21s infinite;
}

@keyframes fade31 {
	0% { opacity: 1; }
	12% {opacity: 1; }
	24% {opacity: 0; }
	36% {opacity: 0; }
	48% {opacity: 0; }
	60% {opacity: 0; }
	72% {opacity: 0; }
	84% {opacity: 0; }
	96% {opacity: 1; }
	100% {opacity: 1; }
}

@keyframes fade32 {
	0% { opacity: 0; }
	12% {opacity: 0; }
	24% {opacity: 1; }
	36% {opacity: 1; }
	48% {opacity: 1; }
	60% {opacity: 0; }
	72% {opacity: 0; }
	84% {opacity: 0; }
	96% {opacity: 0; }
	100% {opacity: 0; }
}

@keyframes fade33 {
	0% { opacity: 0; }
	12% {opacity: 0; }
	24% {opacity: 0; }
	36% {opacity: 0; }
	48% {opacity: 0; }
	60% {opacity: 1; }
	72% {opacity: 1; }
	84% {opacity: 1; }
	96% {opacity: 0; }
	100% {opacity: 0; }
}

/** Intro **/
.intro {
	margin: 80px auto 150px;
	text-align: center;
}

.intro h1 {
	font-size: 40px; 
	text-transform: uppercase;
	text-align: center;
	color: #114b95;
	display: block;
	width: 100%;
	font-family: 'gotham-bold';
	margin: 30px auto 10px;
}

.intro p {
	display: block;
	text-align: center;
	font-size: 16px;
	margin: 15px auto;
}

.intro .button {
	margin: 20px auto 5px;
	height: 40px;
	line-height: 40px;
	width: 180px;
	font-size: 17px; 
	color: #fff;
	border-radius: 10px;
	background-color: #41aaf3;
	display: inline-block;
	text-decoration: none;
}

.row.titulo, .row.barra, .row.numpaso, .row.contenedor {
	display: none;
}

.titulo {
	margin: 25px auto 35px;
}

.titulo h1 {
	font-size: 38px; 
	font-family: 'gotham-medium';
	text-align: center;
	border-bottom: 4px solid #cb2879;
	color: #114b95;
	text-transform: uppercase;
	margin: 15px auto 25px;
	padding-bottom: 10px;
}

.titulo p {
	text-align: center;
}

.barra {
	margin: 25px auto 15px;
}

.barra .slider.slider-horizontal {
	width: 80%; 
	margin: 10px 10%;
	height: 32px;
}

.barra .slider-tick {
	width: 32px; 
	height: 32px;
}

.barra .slider.slider-horizontal .slider-track {
	background: #ddd;
}

.barra .slider-selection.tick-slider-selection {
	background: #ddd;
}

.barra .slider.slider-horizontal .slider-tick, .barra .slider.slider-horizontal .slider-handle {
	margin-left: -16px; 
	margin-top: -11px;
}

.barra .slider.slider-horizontal .slider-tick {
	background: #ccc;
}

.barra .slider.slider-horizontal .slider-tick.in-selection {
	background: #aaa;
	width: 28px;
    height: 28px;
    border: 2px solid #ccc;
}

.barra .slider.slider-horizontal .slider-handle:before {
	color: #fff;
	line-height: 28px; 
	font-size: 14px; 
	text-align: center;
	display: block;
	content: '1';
}

.barra .slider.slider-horizontal .slider-handle.pos-1:before {
	content: '1';
}

.barra .slider.slider-horizontal .slider-handle.pos-2:before {
	content: '2';
}

.barra .slider.slider-horizontal .slider-handle.pos-3:before {
	content: '3';
}

.barra .slider.slider-horizontal .slider-handle.pos-4:before {
	content: '4';
}

.barra .slider.slider-horizontal .slider-handle.pos-5:before {
	content: '5';
}

.barra .slider.slider-horizontal .slider-handle.pos-6:before {
	content: '6';
}

.barra .slider.slider-horizontal .slider-handle.pos-7:before {
	content: '7';
}

.barra .slider-tick.in-selection {
	background: none;
}

.barra .slider.slider-horizontal .slider-handle {
	width: 28px;
	height: 28px;
	margin-left: -16px; 
	margin-top: -11px;
	background: #114b95;
}

.barra .slider-handle:last-child {
	display: none;
}

.barra .slider.slider-horizontal .slider-tick-label-container {
	display: none;
}

.numpaso {
	margin: 20px auto 10px;
}

.numpaso h2 {
	color: #114b95;
	text-align: center;
	display: none;
	font-size: 24px; 
	font-family: 'gotham-bold';
	line-height: 44px;
}

.numpaso h2:first-child {
	display: block;
}

.numpaso h2 span {
	height: 44px; 
	width: 44px; 
	border-radius: 50%;
	border: 2px solid #114b95;
	display: inline-block;
	line-height: 40px; 
	font-size: 32px; 
	padding: 2px;
}

.contenedor {
	margin-top: 40px;
	margin-bottom: 120px;
	position: relative;
}

.contenedor:before {
	border-top: 180px solid #114b95;
    content: '';
    margin: 0px auto;
    position: absolute;
    left: 0px;
    top: 28%;
    width: 100%;
    z-index: 0;
}

.contenedor > div {
	height: 400px;
	border-radius: 12px;
	background: #fff;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 16px 2px rgba(128,128,128,1);
    -moz-box-shadow: 0px 0px 16px 2px rgba(128,128,128,1);
    box-shadow: 0px 0px 16px 2px rgba(128,128,128,1);
    padding: 10px 0px;

    transition: all 0.4s ease-out;
}

.contenedor > div.size {
	height: 0px;
	padding: 0px;
    box-shadow: none;
    opacity: 0;
    min-height: 0px;
}

.contenedor > div ul {
	width: 500em; 
	height: 100%;
	overflow: hidden;
	padding: 0px;

	transition: all 1.2s ease-out;
}

.contenedor > div > ul > li {
	float: left;
	list-style-type: none;
	width: 638px;
	height: 100%;
}

.contenedor > div > ul li div {
	padding: 0px;
}

.contenedor > div > ul li p {
	width: 100%; 
	text-align: center;
	font-size: 16px;
	color: #104b95;
	margin: 10px auto 15px;
	font-weight: normal;
}

.contenedor > div > ul li.step-1 p {
	font-size: 15px;
}

.contenedor > div > ul li p b {
	font-family: 'gotham-bold';
}

.contenedor > div > ul li a {
	display: block;
	text-align: center;
	text-decoration: none;
}

.contenedor > div > ul li a.image {
	margin-top: 10px;
	padding: 10px;
}

.contenedor > div > ul li a.image.selected {
	border: 2px solid #114b95;
}

.contenedor > div > ul li a img {
	display: inline-block;
}

.contenedor .buttons {
	margin-top: 20px;
	display: block;
}

.contenedor .buttons .button {
	float: right;
}

.contenedor .buttons .back {
	float: left;
}

.contenedor a.button {
	margin: 20px auto 5px;
	height: 40px;
	line-height: 40px;
	width: 180px;
	font-size: 17px; 
	color: #fff;
	border-radius: 10px;
	background-color: #41aaf3;
}

.contenedor a.button.back {
	background-color: #ff9e1a;
}

/* Paso dos */
.presupuesto {
	margin-top: 20px;
	height: 70px; 
	border-bottom: 3px solid #114b95;
}

.presupuesto .slider.slider-horizontal {
	width: 100%;
}

.presupuesto .slider.slider-horizontal .slider-tick-label-container {
	width: 100%;
}

.presupuesto .slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
	width: 6.3%;
	text-align: center;
	font-size: 10px;
}

.presupuesto .slider.slider-horizontal .tooltip-inner {
	color: #888;
    background: #fff;
    border: 1px solid #888;
    padding: 2px 5px !important;
}

.presupuesto .slider.slider-horizontal .tooltip.top .tooltip-arrow {
	border-top-color: #888;
}

div.planes {
	margin-top: 35px; 
	overflow: hidden;
}

div.planes > div.header {
	height: 55px;
	width: 16.5%;
	padding: 5px;
	padding-top: 35px; 
	font-size: 12px !important;
	text-transform: uppercase;
	text-align: center;
	color: #114b95;
	font-family: 'gotham-bold';
	margin-bottom: 10px;

	float: left;
	margin: 0px;
}

div.planes > div.header.titulo-plan {
	width: 26%;
	background: transparent url(../img/planes_telcel.png) center bottom no-repeat;
	background-size: contain;
}

div.planes > div.header.minutos {
	background: transparent url(../img/minutos.png) center top no-repeat;
	background-size: 20%;
} 

div.planes > div.header.mensajes {
	background: transparent url(../img/mensajes.png) center top no-repeat;
	background-size: 20%;
} 

div.planes > div.header.internet {
	background: transparent url(../img/internet.png) center top no-repeat;
	background-size: 20%;
} 

div.planes > div.header.redes {
	background: transparent url(../img/redes_sociales.png) center top no-repeat;
	background-size: 60%;
} 

div.planes > div.header.radio {
	width: 6%;
}

div.detalle-planes {
	width: 100%;
	display: block;
	max-height: 225px;
    overflow: hidden;
    overflow-y: scroll;
}

div.detalle-planes.loading {
	background: transparent url(../img/loader.gif) center bottom no-repeat;
	background-size: 6%;
	min-height: 130px;
}

div.detalle-planes > div {
	float: left;
	margin: 0px;
	padding: 5px;
}

div.detalle-planes > div.row-cell {
	width: 100%;
	display: block;
	overflow: hidden;
	float: left;
}

div.detalle-planes > div.row-cell:nth-child(even){
	background-color: #9fb7d5;	
}

div.detalle-planes > div.row-cell div.cell {
	height: 45px;
	width: 16.5%;
	font-size: 12px;
	line-height: 45px;
	text-transform: uppercase;
	text-align: center;
	color: #114b95;
	font-family: 'gotham-medium';
	float: left;
}

div.detalle-planes div.row-cell div.cell.titulo-plan {
	font-family: 'gotham-bold';
	/*font-size: 16px;*/
	font-size: 13px;
	width: 26%;
}

div.detalle-planes div.row-cell div.cell .check {
	width: 24px; 
	height: 24px; 
	display: inline-block;
	margin: 10px auto;
	background: transparent url(../img/check.png) center no-repeat; 
	background-size: contain;
}

div.detalle-planes div.row-cell div.cell.radio {
	width: 6%;
	margin: 0px;
	text-align: center;
}

div.detalle-planes div.row-cell div.cell.radio input {
	width: 32px; 
	height: 32px; 
	margin: 4px auto; 
	display: inline-block;
}

/** Paso tres **/
.contenedor > div .marcas {
	margin-top: 20px;
	height: 70px;
	border-bottom: 3px solid #114b95;
}

.contenedor > div .marcas ul {
	width: 100%; 
	padding: 0px; 
	overflow: hidden;
	list-style-type: none;
	height: 70px;
}

.contenedor > div .marcas ul li {
	float: left;
	width: 9.3%;
	margin: 0px 1.5%;
	height: 100%;
}

.contenedor > div .marcas ul li a {
	display: block;
	height: 100%; 
	width: 100%;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;

	filter: grayscale(100%);
}

.contenedor > div .marcas ul li:hover a, .contenedor > div .marcas ul li.active a {
	filter: grayscale(0%);
}

.marcas ul li.lanix a {
	background-image: url(../img/marcas/lanix.png);
}

.marcas ul li.samsung a {
	background-image: url(../img/marcas/samsung.png);
}

.marcas ul li.azumi a {
	background-image: url(../img/marcas/azumi.png);
}

.marcas ul li.lg a {
	background-image: url(../img/marcas/lg.png);
}

.marcas ul li.sony a {
	background-image: url(../img/marcas/sony.png);
}

.marcas ul li.huawei a {
	background-image: url(../img/marcas/huawei.png);
}

.marcas ul li.htc a {
	background-image: url(../img/marcas/htc.png);
}

.marcas ul li.zte a {
	background-image: url(../img/marcas/zte.png);
}

.marcas ul li.apple { 
	display: none;
}
.marcas ul li.apple a {
	background-image: url(../img/marcas/apple.png);
}

.contenedor > div div.phones {
	margin-top: 15px; 
	height: 360px;
    max-height: 360px;
    overflow-y: scroll;
}

.contenedor > div div.phones ul {
	width: 100%;
	overflow: hidden;
	overflow-y: scroll;
	padding: 0px; 
	list-style-type: none;
}

.contenedor > div div.phones ul li {
	height: 180px; 
	float: left;
	margin: 0px;
	text-align: center;
}

.contenedor > div div.phones ul li .prev-phone {
	width: 50%; 
	float: left;
}

.contenedor > div div.phones ul li .prev-phone img {
	max-width: 100%;
}

.contenedor > div div.phones ul li .nombre-phone {
	width: 45%; 
	margin-top: 35px; 
	font-size: 18px;
	float: left;
	margin-left: 5%;
	text-align: left;
}

.contenedor > div div.phones ul li input {
	display: inline-block;
	width: 32px; 
	height: 32px; 
	margin: 5px auto;
}

/** Paso Cuatro **/
.phone-image {
	text-align: center;
}

.phone-image img {
	max-width: 100%;
	display: inline-block;
}

.phone-details, .phone-plan {
	margin-top: 5px;
}

.phone-details .phone-nombre, .phone-plan .phone-nombre {
	font-size: 22px;
	border-bottom: 1px solid #888;
	padding-bottom: 5px;
}

.phone-plan .phone-nombre {
	border-bottom: none;
}

.phone-details .phone-sos {
	margin: 4px auto;
	padding-bottom: 5px;
	border-bottom: 1px solid #888;
}

.phone-details .phone-sos span {
	display: block;
	width: 100%; 
	margin: 3px auto;
	font-size: 14px;
}

.phone-details .phone-sos span b {
	font-family: 'gotham-bold';
}

.contenedor > div > ul li .phone-details p {
	text-align: left;
	color: #888;
	margin: 8px auto 7px;
}

.phone-details .color {
	margin: 4px auto;
	border-bottom: 1px solid #888;
	padding-bottom: 5px;
	overflow: hidden;
}

.phone-details .color span, .phone-resumen .color span.color {
	width: 24px; 
	height: 24px; 
	border-radius: 50%;
	margin: 4px;
	border: 1px solid #114b95;
	background-origin: padding-box;
	display: block;
	float: left;
}

.phone-details .color span.white, .phone-resumen span.color.white {
	background-color: #fff;
}

.phone-details .color span.black, .phone-resumen span.color.black {
	background-color: #000;
}

.phone-details .color span.silver, .phone-resumen span.color.silver {
	background-color: gray;
}

.phone-details .color span.pink, .phone-resumen span.color.pink {
	background-color: pink;
}

.phone-details .color span.gold, .phone-resumen span.color.gold {
	background-color: gold;
}

.phone-details .capacidad {
	margin: 4px auto;
	overflow: hidden;
}

.phone-details .capacidad > span, .phone-resumen .capacidad .datos {
	height: 48px; 
	width: 48px;
	float: left;
	margin: 4px;
	border: 1px solid #888;
	color: #888;
	border-radius: 50%;
	text-align: center;
	font-size: 12px; 
}

.phone-plan {
	display: none;
}

.phone-resumen .capacidad .datos {
	height: 36px; 
	width: 36px;
	margin: 0px 0px 0px 4px;
	line-height: 10px;
	border-width: 2px;
	font-size: 11px;
}

.phone-details .capacidad > span.active {
	background: #114b95;
	color: #fff
}

.phone-details .capacidad > span span, .phone-resumen .capacidad .datos span {
	font-size: 20px; 
	line-height: 26px;
	text-align: center;
	width: 100%; 
	float: left;
}

.phone-resumen .capacidad .datos span {
	font-size: 14px;
	line-height: 20px;
}

.phone-resumen {
	margin: 4px auto;
	border-bottom: 1px solid #888;
	padding-bottom: 5px;
	overflow: hidden;
}

.phone-resumen .color, .phone-resumen .capacidad {
	float: left;
	width: 20%;
	margin: 4px;
}

.phone-resumen .capacidad {
	width: 30%
}

.phone-resumen .color span, .phone-resumen .capacidad span {
	color: #888;
	float: left;
	line-height: 32px; 
	margin-right: 5px;
}

.phone-resumen .plan {
	float: left;
	width: 36%;
	background: transparent url(../img/planes_telcel.png) right center no-repeat;
	background-size: contain;
	height: 40px;
}

.phone-resumen .plan-details {
	float: left;
	width: 100%;
	overflow: hidden;
	overflow-y: scroll;
	margin-top: 10px;
}

.phone-resumen .plan-details .header {
	width: 20%;
	margin: 0px; 
	text-align: center;
	background: #114b95; 
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	float: left;
	height: 32px;
	line-height: 32px;
}

.phone-resumen .plan-details .row-cell {
	width: 100%; 
	float: left;
	margin: 3px auto;
	overflow: hidden;
}

.phone-resumen .plan-details .row-cell:nth-child(even){
	background: #9fb7d5;
}

.phone-resumen .plan-details .row-cell .cell {
	width: 20%;
	margin: 0px; 
	text-align: center;
	float: left;
	line-height: 32px; 
}

.contenedor > div > ul li .buttons {
	margin-top: 0px;
}

/** Paso 5 **/
.contenedor > div > ul li div.planes {
	margin-top: 20px;
	height: auto;
	max-height: initial;
}

.contenedor > div > ul li div.planes div {
	text-align: center;
	color: #114b95; 
	font-size: 14px;
}

.contenedor > div > ul li div.planes div.clear {
	margin-top: 10px;
}

.planes > div .button {
	margin-top: 10px; 
	margin-bottom: 25px;
}

.planes > div .button.nueva {
	background-color: #73c06f;
}

.planes > div .button.renovacion {
	background-color: #cc66cc;
}

.planes > div .button.cambio {
	background-color: #40aaf3;
}

.planes > div .button.porta {
	background-color: #db4f4f;
}

.contenedor > div > ul li div.planes div span {
	display: block;
	width: 100%; 
	min-height: 36px;
	line-height: 18px;
}

.contenedor > div > ul li div.planes .buttons {
	margin-top: 50px;
}

/** Paso 6 **/
.contenedor > div > ul li div.formulario {
	margin-top: 20px;
	height: auto;
	max-height: initial;
}

.contenedor > div > ul li div.formulario input {
	border-radius: 10px;
	background-color: #eee;
    border: 1px solid #aaa;
    width: 90%;
    margin: 3px 5% 18px;
    padding: 3px 5px;
    line-height: 32px;
    float: left;
}

.contenedor > div > ul li div.formulario input.small {
	width: 40%;
}

.contenedor > div > ul li div.formulario a.button {
    margin-top: 3px;
}

/** Paso 7 **/
.contenedor > div > ul li div.exito {
	margin-top: 20px;
	height: auto;
	max-height: initial;
}

.contenedor > div > ul li div.exito h2 {
	 color: #cb2879;
	 text-transform: uppercase;
	 font-size: 22px;
	 text-align: center;
	 margin: 45px auto 10px;
	 width: 100%;
}

.contenedor > div > ul li div.exito h3 {
	 color: #02aae3;
	 text-transform: uppercase;
	 font-size: 18px;
	 text-align: center;
	 margin: 45px auto 10px;
	 width: 100%;
}

.contenedor > div > ul li div.exito h4 {
	 color: #888;
	 text-transform: uppercase;
	 font-size: 14px;
	 text-align: center;
	 margin: 45px auto 10px;
	 width: 100%;
}

/** Banners **/
.banners {
	background: rgba(0, 0, 0, 0.8);
	height: 250px;
	position: relative;
	overflow: hidden;
}

.banners > a {
	position: absolute;
	top: 40%;
	font-size: 48px; 
	color: #fff;
	font-weight: bold;
}

.banners > a.prev-banner {
	left: 10px;
}

.banners > a.next-banner {
	right: 10px;
}

.banners ul {
	width: 300em; 
	height: 100%; 
	overflow: hidden;
	list-style-type: none;
	padding: 0px;
}

.banners ul li {
	float: left;
	margin: 0px;
	height: 100%;
	padding: 0px;
	width: 472px;

	background-position: center;
	background-size: cover;
	background-color: transparent;
	background-repeat: no-repeat;
}

.banners ul li.banner-1 {
	background-image: url(../img/promos/promo1.jpg);
}

.banners ul li.banner-2 {
	background-image: url(../img/promos/promo2.jpg);
}

.banners ul li.banner-3 {
	background-image: url(../img/promos/promo3.jpg);
}

.banners ul li.banner-4 {
	background-image: url(../img/promos/promo4.jpg);
}

.banners ul li.banner-5 {
	background-image: url(../img/promos/promo5.jpg);
}

.banners ul li.banner-6 {
	background-image: url(../img/promos/promo6.jpg);
}

.banners ul li a {
	display: block;
	width: 100%; 
	height: 100%;
	background: rgba(0, 0, 0, 0.7);

	transition: all 0.6s ease-out;
}

.banners ul li:nth-child(2) a {
	background: transparent;
}

.newsletter {
	margin-top: 90px;
	background: #cb2879 url(../img/newsletter.jpg) center no-repeat;
	background-size: cover;
	height: 130px; 
	padding: 35px 0px;
	color: #fff;
}

.newsletter h2 {
	text-align: left;
	font-size: 24px; 
	line-height: 32px; 
	font-weight: bold;
	margin: 0px;
}

.newsletter form {
	overflow: hidden;
	float: right;
	margin: 0px;
}

.newsletter form input {
	height: 40px; 
	margin: 0px;
	float: left;
	width: 250px; 
	box-shadow: none;
	border: 1px solid transparent;
	background-color: #fff;
	padding: 0px 5px;
	margin: 12px auto;
}

.newsletter form input[type="submit"]{
	width: 90px; 
	background-color: #02aae3;
	font-size: 19px;
	text-align: center;
	font-weight: lighter;
}

.clear {
	clear: both;
}

/** Versión para móvil **/
@media screen and (max-width: 769px) {
	.titulo h1 {
		font-size: 32px;
	}

	.newsletter {
		padding: 10px 0px;
	}

	.newsletter form {
		width: 100%;
		margin-top: 5px;
	}

	.newsletter h2 {
		font-size: 20px;
	}

	.contenedor > div div.phones ul li input {
		width: 16px; 
		height: 16px;
	}

	div.detalle-planes div.row-cell div.cell.radio input {
		width: 16px; 
		height: 16px;
	}

	.contenedor a.button {
		width: 150px; 
		height: 32px; 
		line-height: 32px;
		font-size: 12px;
	}
}
